<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Forget</title>
        <link rel="stylesheet" href="/stylesheets/forget.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    </head>
    <body>
        <div class="main_r">
            <div class="colore1"></div>
            <div class="colore2"></div>
            <div class="main_box_right">
               <h1 class="h11">Forget Password</h1>
               <form class="f_r" action="/forget" method="post">
                    <input class="r1" type="text" name="username" placeholder="UserName" />
                    <input class="r1" type="password" name="password" placeholder="New Password" />
                    <button class="btn1">Submit</button>
                </form>
                <a href="/forget"><button class="btn2">Forget Password</button></a>
            </div>
        </div>
    </body>
</html>